.contacts#contacts
  p.contacts__header Our studio
  ul.contacts__list
    li.contacts__item
      span.contacts__value.contacts__value--location Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
    li.contacts__item
      a.contacts__value.contacts__value--phone(href="tel:+622122243333") (+62) 21-2224 3333
