.footer-navigation
  ul.footer-navigation__list
    li.footer-navigation__item
      a.footer-navigation__link(href="#") Help
    li.footer-navigation__item
      a.footer-navigation__link(href="#") Terms & condition
    li.footer-navigation__item
      a.footer-navigation__link(href="#") Privacy
