footer.page-footer
  .container
    .page-footer__company
      include ./../components/logo
      p lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
    .page-footer__contacts
      include ./contacts
    .page-footer__social
      include ./social
    .page-footer__navigation
      include ./footer-navigation
    .page-footer__copyright
      p.copyright Copyright © 2015 - Tajem Creative
