.social
  p.social__header Stay in touch
  include ./subscribe
  ul.social__list
    li.social__item
      a.social__link.social__link--fb(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Facebook
    li.social__item
      a.social__link.social__link--twitter(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Twitter
    li.social__item
      a.social__link.social__link--dribble(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Dribble
    li.social__item
      a.social__link.social__link--instagram(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Instagram
    li.social__item
      a.social__link.social__link--google(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden G+
    li.social__item
      a.social__link.social__link--youtube(href="#", target="_blank", rel="noreferrer")
        span.visually-hidden Youtube
