form.subscribe
  label.visually-hidden(for="subscribe-email") Email
  input.subscribe__input#subscribe-email(placeholder="Subscribe our newsletter", name="email")
  button.subscribe__submit
    span.visually-hidden Submit
