extends ./layout/base.pug

block content
  h1.visually-hidden Tajam
  include ./about/about
  include ./about/story
  include ./video/video
  include ./expertise/expertise
  include ./team/team
  include ./works/works
  include ./reviews/reviews
  include ./letter/letter
  include ./modals/modal-video
