@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('../fonts/roboto-v20-latin-900.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/playfair-display-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/playfair-display-v21-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/playfair-display-v21-latin-700.woff2') format('woff2'),
    url('../fonts/playfair-display-v21-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('../fonts/playfair-display-v21-latin-900.woff2') format('woff2'),
    url('../fonts/playfair-display-v21-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/hammersmith-one-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/hammersmith-one-v12-latin-regular.woff') format('woff');
}
