include ./../_mixins/link

section.about#home
  .container
    h2.about__header We Are Awesome Creative Agency
    p.about__description This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
    .about__link
      +link('#', 'Learn more')
