section.video
  h2.visually-hidden Video
  .container
    a.video__link(href="https://www.youtube.com/watch?v=KvUgaHTNit4", target="_blank", data-video="KvUgaHTNit4", rel="noreferrer") Watch our story
